*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #6f6c7c;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex ;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center ;
    align-content: center;
}

.game{
    height: 60vmin; 
    width: 60vmin;
    display: flex ;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center ;
    align-content: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius:1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(3, 3, 88, 0.4);
    font-size: 8vmin;
    color:black;
    background-color: rgb(227, 204, 175);
}

#reset-btn{
    padding:1rem;
    font-size: 1.25rem;
    background-color:#8ea7a9 ;
    border: none;
    border-radius:1rem;
    color: black;
}

.msg-container{
    padding:1rem;
    border: none;
    border-radius:1rem;
    color: black;
    height:0vmin ;
}

#msg{
    color:black;
    font-size:8vmin;
}
